@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

:root {
  --primary-color: #111317;
  --primary-color-light: #1f2125;
  --primary-color-extra-light: #35373b;
  --secondary-color: #f9ac54;
  --secondary-color-dark: #d79447;
  --text-light: #d1d5db;
  --white: #ffffff;
  --max-width: 1300px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}





.section__container {
  max-width: var(--max-width);
  margin: auto;
  padding: 5rem 1rem;
  background-size: cover;
 
}

.section__header {
  margin-bottom: 1rem;
  font-size: 2.25rem;
  font-weight: 600;
  text-align: center;
  color: var(--white);
}

.section__subheader {
  max-width: 600px;
  margin: auto;
  text-align: center;
  color: var(--text-light);
}

.btn {
  padding: 1rem 2rem;
  outline: none;
  border: none;
  font-size: 1rem;
  color: var(--white);
  background-color: var(--secondary-color);
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.btn:hover {
  background-color: var(--secondary-color-dark);
}

img {
  width: 100%;
  display: flex;
}

a {
  text-decoration: none;
}

.bg__blur {
  position: absolute;
  box-shadow: 0 0 1000px 50px var(--secondary-color);
  z-index: -1;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--primary-color);
}





.header__blur {
  bottom: 5rem;
  right: 0;
}











.hidden{
  opacity:0;

  transition: all 0.3s;
  transform: translateX(-100%);
}

.show{
  opacity: 1;
  transition: all 0.3s;
  transform: translateX(0);
}
.card-effect:nth-child(2){
  transition-delay: 400ms;
  }
.card-effect:nth-child(3){
transition-delay: 700ms;
}
.card-effect:nth-child(4){
  transition-delay: 1000ms;
}





  
  
  
  