.review {
    background-color: var(--primary-color-light);
  }
  
  .review__container {
    display: flex;
    gap: 2rem;
  }
  
  .review__container > span {
    font-size: 6rem;
    color: var(--secondary-color);
    opacity: 0.5;
  }
  
  .review__content {
    flex: 1;
  }
  
  .review__content h4 {
    margin-bottom: 1rem;
    font-size: 1.3rem;
    font-weight: 600;
    color: var(--white);
  }
  
  .review__content p {
    max-width: 800px;
    margin-bottom: 2rem;
    color: var(--text-light);
  }
  
  .review__rating span {
    font-size: 1.5rem;
    color: var(--secondary-color);
  }
  
  .review__footer {
    margin-top: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
  }
  
  .review__member {
    display: flex;
    align-items: flex-start;
    gap: 1rem;
  }
  
  .review__member img {
    max-width: 60px;
    border-radius: 100%;
  }
  
  .review__member__details h4 {
    margin-bottom: 0;
  }
  
  .review__nav {
    display: flex;
    align-items: center;
    gap: 2rem;
  }
  
  .review__nav span {
    font-size: 2rem;
    color: var(--secondary-color);
    cursor: pointer;
  }
  